db
**/__pycache__/**
*.sif
*.csv
*.log
*.pkl
.python-version
.ipynb_checkpoints
.claude
.agents
/models
/src/notebooks/image_classifier
/src/auto_model
/src/keras_tuner
/data/images
image_classifier
image_regressor
mlruns
results
